* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* border: 1px solid black; */
}
html {
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    background-size: 100%;
}
.head{
    position:absolute;
    margin-top: -750px;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 1px);
    color: #1f2029;
    user-select: none;
    font-size:45px;
    font-weight: 800;
    margin-bottom: 30px;
    padding-top: 70px;;
}
.content{
    position: absolute;
    height: 800px;
    width: 800px;
    background-color: #f6f6f6;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(78, 73, 79, .5);

    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;

    border-radius: 8px;
}
.input{
    margin-top: 30px;
    background-color: #4E495D;
    width: 700px;
    height: 48px;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 0 16px;
    font-size: 18px;
    color: #c4c3ca;
    font-weight: 500;
    outline: none;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(78, 73, 79, .5);
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 1px);
}

#send{
    position: absolute;
    width: 200px;
    height:50px;
    margin-top: 147px;
    margin-left: 530px;
    background-color: #22a8e2;
    color: white;
    font-weight: 600;
}
#send:hover{
    background-color: #138fc4;
}

#email{
    width: 470px;
    margin-right: 230px;;
}
#alter{
    width: 200px;
    height:50px;
    background-color: #22a8e2;
    color: white;
    font-weight: 600;
    text-align: center;
    line-height: 200px;/*文字水平居中*/
}
#alter:hover{
    background-color: #138fc4;
}
#msg{
    position: relative;
    color: red;
    font-weight: 500;
}