body{

}
*,
*:hover,
*:active,
*:visited,
*:focus{
    border: none;
    outline: none;
    box-sizing: border-box;
}
/**
添加标签
 */
.singleselect-tag{
    margin-top: 20px;
}
.singleselect-column{
    margin-top: 20px;
}
#selecttag{
    width: 830px;
    height: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
}
#selecttag>*{
    margin: 0 10px 0 0;
}
#selecttag:hover,.active{
    border-color: blue;
}
#selecttag .tags{
    line-height: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}
#selecttag .tags .tag_item{
    padding: 5px 2px 5px  10px;
    margin: 5px 5px 5px 0;
    border-radius: 100px;
    background: #00a1d6;
    display: flex;
    height: 30px;
    cursor: pointer;
}
#selecttag .tags .tag_item > *{
    margin: 0 10px 0 0;
}
#selecttag .box{
    flex: 1;
    min-width: 200px;
    max-width: 850px;
    margin: 5px 0;
}
#selecttag .box input{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
#selecttag .box input:active{
    border-color: blue;
}
.tagspan{
    cursor: pointer;
    font-size: 12px;
    user-select: none;
}
#selecttag .tagtips{
    margin: 5px 0;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
/**
添加标签
 */

/**
添加专栏
 */
#selectsclumn{
    width: 830px;
    height: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
}
#selectsclumn>*{
    margin: 0 10px 0 0;
}
#selectsclumn:hover,.active{
    border-color: blue;
}
#selectsclumn .sclumns{
    line-height: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}
#selectsclumn .sclumns .tag_item{
    padding: 5px 2px 5px  10px;
    margin: 5px 5px 5px 0;
    border-radius: 100px;
    background: #00a1d6;
    display: flex;
    height: 30px;
    cursor: pointer;
}
#selectsclumn .sclumns .tag_item > *{
    margin: 0 10px 0 0;
}
#selectsclumn .box{
    flex: 1;
    min-width: 200px;
    max-width: 850px;
    margin: 5px 0;
}
#selectsclumn .box input{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
#selectsclumn .box input:active{
    border-color: blue;
}
.tagspan{
    cursor: pointer;
    font-size: 12px;
    user-select: none;
}
#selectsclumn .columntips{
    margin: 5px 0;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
/**
添加专栏
 */
.flex{
    display: flex;
}
.none{
    display: none;
}
.editormd{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}
.editormd-top{
    z-index: 99999;
    height: 100px;
    min-width: 1400px;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0px 1px 2px #666;
}
.articlebtn{
    background-color: #fc5531;
    color: white;
    width:200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: block;
    font-size: 20px;
    border-radius: 25px;
    font-weight: 200;
}
.title{
    height: 50px;
    width: 900px;
    left: 450px;
    border-radius: 20px;
    font-size: 25px;
    border: 1px solid #d9d9d9;
    padding: 0px 20px;
}
.title:hover{

}
.editormdout{
    margin-top: 400px;
}
.editormdinner {
    margin-top: 100px;
    position: relative;
}
.savebtn {
    margin-right: 20px;
}
.savebtn:hover{
    background-color: #ff370e;
}
.helpmebtn{

    left: 1470px;
}
.helpmebtn:hover{
    background-color: #ff370e;
}
.helpme:hover{
    background-color: #02a6db;
}
.draftbtn{
    margin-left: 20px;
    left: 230px;
    background-color: white;
    color: #fd441e;
    border:1px solid #fd441e;
}
.draftbtn:hover{
    background-color: #d4d4d4;
}
.editormd-mid{
    position: absolute;
    width: 1400px;
    height:800px;
    background-color: white;
    padding: 20px 20px;
    margin-left: 200px;
    margin-top: 105px;
    z-index: 999999;
    box-shadow: 0px 1px 2px #000000;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.content-description{
    width: 1400px;
    height: 200px;
    display: flex;
}
.leftintro{
    height: 100%;
    display: block;
    min-width: 80px;
    width: 120px;
    /* background-color: aqua; */
    /* 实现文字字数不一样对齐 */
    text-align-last: justify;
    text-align: justify;
    font-weight: 700;
    margin-right: 20px;
}
.content-description-img{
    height: 180px;
    width: 200px;
    margin-left: 20px;
    border: 1px solid #a5a5a5;
}
.content-description-text{
    margin-left: 20px;
    outline: none;
    height: 180px;
    width: 400px;
    border: 1px solid #a5a5a5;
    font-weight: 600;
    /* 自动换行 */
    white-space:normal;
    word-wrap:break-word;
    text-wrap: normal;
    Resize: none;
}
.content-description-text:hover{

}


.content-tag{
    width: 1400px;
    height: 250px;
    display: flex;
}

.addTag{

}
.content-sclumn{
    width: 1400px;
    height: 250px;
    display: flex;
}
.content-type{
    width: 1400px;
    height: 20px;
    display: flex;
}
.content-shtype-right{
    margin-left: 20px;
}
.articletypeselect{
    width: 30px;
}
.content-bnt{
    margin-top: 40px;
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uploadok{
    margin-right: 300px;
}
