

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}
a{
    text-decoration: none; /* 去除默认的下划线 */
    outline: none;	/* 去除旧版浏览器的点击后的外虚线框 */
    color: #000;	/* 去除默认的颜色和点击后变化的颜色 */

}
a:focus{text-decoration: none}
a:hover{text-decoration: none}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* border: 1px solid black; */
}
html {
    height: 100%;
    width: 100%;
}
.carousel-inner .active:hover{
    color: #fc5531;
}
body{
    background-size: 100%;
    background-image: url(https://images.pexels.com/photos/1254736/pexels-photo-1254736.jpeg?auto=compress&cs=tinysrgb&w=1600);
    /*background-image:linear-gradient(red,black);*/
    /*height: 100%;*/
    /*background-image: linear-gradient(45deg, #0081ff, #1cbbb4);*/

    /*background-image:linear-gradient(to right, #a18cd1, #fbc2eb);*/

}
.head {
    width: 100%;
    min-width: 1600px;
    height: 70px;
    background-color: #ffffff;
    /*background-image: url("");*/
    box-shadow: 0px 1px 2px #666;
    display: flex;
    justify-content:space-between;
    position: fixed;
    z-index: 9999999;
    font-weight: 600;

}

.head-lead {
    height: 100%;
    width: 30%;
    background-color: #ffffff;
}
.head-lead li{
    float: left;
    width: 100px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
.head-lead a{
    color: #000;
    display: block;
}
.head-lead a:hover{
    background-color: #ccc;
}

.head-search{
    height: 100%;
    width: 30%;
    background-color: #ffffff;
    display: flex;
    justify-content:center;
    align-items: center;
}

.head-myself{
    height: 100%;
    width: 40%;
    background-color: #ffffff;
}
.head-myself li{
    float: right;
    width: 100px;
    height: 70px;
    text-align: center;
    line-height: 70px;

}
.head-myself a{
    color: #000;
    display: block;
}
.head-myself a:hover{
    background-color: #ccc;
}

.head-myself img{
    border-radius:50%;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.head-search input{
    float: left;
    width: 398px;
    height: 40px;
    padding-left: 10px;
    border-top-left-radius:25px;
    border-bottom-left-radius: 25px;
    margin-right: 1px;
}
.head-search button{
    float: left;
    width: 80px;
    height: 40px;
    background-color:#00BFFF;
    font-size: 16px;
    color: #fff;
    border-top-right-radius:25px;
    border-bottom-right-radius: 25px;
}
.head-myself-infobolck {
    z-index: 99;
    position: relative;
    background-color:#eee;
    width: 400px;
    height: 600px;
    border-radius: 15px;
    margin-left: -140px;
    margin-top: 10px;
    flex-direction: column;
    box-shadow: 0px 1px 2px #666;
    display: none;
    transition: .3s;
}
#avatarli:hover .head-myself-infobolck{
    display: flex;
}


.head-myself-infobolck-name{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}
.head-myself-infobolck-name h2{
    position:absolute;
    margin-top: -30px;
}
.head-myself-infobolck-name span{
    position:absolute;
    margin-top: 40px;
}

.head-myself-infobolck-fans{
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.infobolck-fans-left{
    font-weight: 500;
    font-size: 15px;
}
.infobolck-fans-right{
    font-weight: 700;
    font-size: 20px;
}
.head-myself-infobolck-fans div{
    height: 150px;
    width: 133.3333px;
}

.head-myself-infobolck-fans h3{
    position: relative;
    margin-top: -10px;
    width: 100%;
}

.head-myself-infobolck-fans h4{
    position: relative;
}

.head-myself-infobolck-nav{
    height: 350px;
    width: 100%;
    position: relative;
    z-index: 100;
    margin-top: -25px;

    /* display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    justify-content: center; */
}
.head-myself-infobolck-nav ul{
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-top: 1px solid black;
    justify-content: center;
    padding-top: 5px;
}
.head-myself-infobolck-nav li{
    height: 70px;
    line-height: 70px;
    display: flex;
    margin-top: 10px;
    width: 100%;
    flex-direction: column;
    /* border-top: 1px solid black; */
    justify-content: center;
}


.show{
    opacity: 1;
}

.head-myself-infobolck::before {
    z-index: -999;
    position: absolute;
    content: '';
    /* 将此元素改成块级元素 */
    display: block;
    width: 100px;
    height: 100px;
    transform: rotate(50deg);
    margin-left: 137px;
    background-color: #eee;
    background-size: cover;
}
.head-myself-infobolck-nav span{
    width: 10px;
    height: 10px;
    padding-right: 10px;
}
.exit-login {
    z-index: 101;
    position: relative;
    transform: translate(0,30px);
    border-top: 1px solid black;
    padding-top: 3px;
}
.alertbyBootSt{
    position: absolute;
    top: 0;
    margin-top: 45px;
    min-width: 600px;
    min-height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin-left: 35%;
    z-index: 99999999999;
}
.original{
    color: #ff134a;
    background-color: #fde6ef;
    height: 20px;
    border-radius: 4px;
    align-content: center;


}
.Reprint{
    color: #16d93b;
    background-color: #e5fde5;
    height: 20px;
    border-radius: 4px;
    align-content: center;

}