.fontred:hover{
    color: red;
}
.fontblue:hover{
    color: #00BFFF;
}
.fonthui{
    color: #bababa;
}
.content{
    position: absolute;
    margin:auto auto auto auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 1400px;
    display: flex;
    flex-direction: column;
}
.content-top{
    margin-top: 65px;
    width: 1720px;
    min-height: 100px;
    margin-left: -160px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.content-top-search{
    /*margin-top: 100px;*/
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 500px;
    min-height: 100px;
}
.content-bottom{
    width: 995px;
    height: auto;
    display: flex;
}
.content-bottom-left{
    background-color: #FFFFFF;
    width: 995px;
    min-height: 700px;
    margin-right: 20px;
    margin-top: 20px;
    float: left;
    border-radius: 20px;
}
.content-bottom-right{
    border-radius: 20px;
    float: left;
    width: 385px;
    background-color: white;
    margin-top: 20px;
    min-height: 700px;
}
.left-top{
    height: 50px;
    width: 995px;

    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.active1{
    background-color: transparent;
}
.navunit{
    color: #a1a1a1;
    background-color: transparent;
}
.navunit:hover{
    color: black;
    background-color: transparent;
}
.left-bottom{
    width: 995px;
    height: auto;
    min-height: 100px;
}
.Botlist{
    /*background-color: #7EFC7E;*/
    min-height: 500px;
    width: 995px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5px 50px 100px 0px;
}
.resultnum{
    color: #fc6c6c;
    line-height: 50px;
    align-items: center;
    left: 650px;
}
.resultnum:before{
    color: #a1a1a1;
    content: "共计为您找到:";
}
.resultnum:after{
    color: #a1a1a1;
    content: "条结果";
}

/**
博客单元格
 */
.Botunit{
    margin-top: 40px;
    width: 995px;
    height: 130px;
    /* background-color: #8fb98d; */
    border-bottom: 1px solid #ececec;
    padding:0px 20px;
}
.Articleunit-top{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.ArticleTitle{
    cursor: pointer;
}
.ArticleTitle:hover{
    color: red;
}
.Articleunit-mid{
    width: 995px;
    height: 50px;
    display: flex
}
.mid-content{
    margin-left: 10px;
    color: #afafaf;
    width: 700px;
    height: 73%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.Articleunit-bottom{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.ArticleTime{
    color: #afafaf;
}
.ArticleDraft{
    /*width: 50px;*/
    /*background-color: #f36838;*/
    display: block;

}
.bottom-outinfo{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.bottom-info{
    width: 120px;
    height: 20px;
    display: flex;
    margin-right: 3px;
    color: #afafaf;
}
.bottom-info-left{
    margin-right: 3px;
}
.bottom-info-right{

}
.unit-btn{
    border: none;
    font-weight: 600;
    margin-right: 10px;
    background-color: white;
}
.shanchu{
    color: red;
}
.bianji{
    color: #00BFFF;
}
.liulan{
    color: #00BFFF;
}
.bottom-cover{
    width: 150px;
    height: 100px;
    margin-top: -75px;
    margin-left: -150px;
    border: 1px solid #bdbdbd;
}
/**
博客单元格
 */
/**
用户单元格
 */
.fans-list{
    height: auto;
    border-radius: 5px;
    min-height: 500px;
    padding-bottom: 100px;
}
.fansunit{
    border-bottom:  1px solid rgba(100, 100, 100, 0.7);
    height: 150px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fansunit-center{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.fansunit-center-left{
    width: 600px;
    height: 100px;
    display: flex;
}
.fansunit-center-left-head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}
.fansunit-center-left-outdiv{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;

}
.left-outdiv-name{
    width: auto;
    margin-left: 10px;
    margin-top: 15px;
    font-weight: 700;
    font-size: 25px;
}

.left-outdiv-introd{
    width: 700px;
    height: 30px;
    line-height: 30px;
    color:#99997e ;
    margin-top: 5px;
    /*position: absolute;*/
}
.fans-img{
    border-radius: 50%;
    height: 78px;
    width: 78px;
}
.fansunit-center-right{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fansunit-focusbtn{
    background-color: #fc5531;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    color: #ffffff;
    border: transparent;
}
.fansunit-focusbtn:hover{
    background-color: white;
    color: #fc5531;
    border: 1px solid #fc5531;
}
/**
用户单元格
 */
.columnunit{

}
.columnunit-img{
    margin-top: -10px;
    margin-right: 10px;
    width: 60px;
    height: 60px;
}
.columnunit-name{
    /*height: 65px;*/
    /*align-content: center;*/
    /*margin-left: 400px;*/
    margin-top: 10px;
    color: #bababa;
}
.columnunit-name:before{
    content: "by:";
    color: #bababa;
}
.columnunit-num{
    /*height: 65px;*/
    /*align-content: center;*/
    /*margin-left: 300px;*/
    margin-top: 10px;
    color: #bababa;
}
.columnunit-num:before{
    content: "共";
    color: #bababa;
}
.columnunit-num:after{
    content: "篇";
    color: #bababa;
}
.columnunit-out{
    background-color: white;
}
.columnunit-title{
    height: 65px; display: flex;
    justify-content: space-between;
}
.columnsunit-blogunit{

}
.page-nothingmsg{
    width: 595px;
    height: 50px;
    line-height: 50px;
    align-content: center;
    font-size: 20px;
    color: #bababa;
    background-color: white;
    margin-left: 400px;
    display: block;
}
#nothingmsg{

}





